!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Instant WoW Goldmine
    %meta{:content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{:href => "stylesheets/site.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/google_user_interact.js", :type => "text/javascript"}
  %body.why-trust-us
    #wrapper
      %a#logo{:href => "/", :title => "Home"}
        %img{:alt => "Instant WoW Goldmine", :src => "images/logo.png"}/
      %ul#menu
        %li
          %a{:href => "/"} Buy WoW Gold
        %li
          %a{:href => "why_trust_us"} Why Trust Us?
        %li
          %a.active{:href => "#"} Contact Us
      %br{:style => "clear:both"}/
      #main
        %h1 How do I get in touch?
        %br/
        We are accessible 24 hours a day, 7 days a week. The fastest way to get hold of us is to use the
        %a{:href => "http://www.comm100.com/livechat/", :onclick => "comm100_Chat();return false;", :target => "_blank", :title => "Live Chat Live Help Software for Website"} LiveChat
        system. You will be connected to one of our team members who can help with most queries.
        
        If you prefer, you can email us at
        %a{:href => "mailto:support@InstantWoWGoldmine.com"} support@InstantWoWGoldmine.com
        and we will get back to as soon as we can.
      #side
        .side-a
          %h3 Got any questions?
          Why not chat to a member of our LiveChat team right now? They can immediately answer any questions or concerns you have.
          =haml :livechat
        .side-b
          .top
          %ul
            %li.safe
              %h4 WoW Account Safe Guaranteed
              %p We use totally legal in-game techniques to earn the gold we sell. This keeps your account safe and secure.
            %li.instant
              %h4 Instant Delivery
              %p Our comprehensive stock control system allows us to guarantee the fastest delivery times available.
            %li.secure
              %h4 Secure Payment
              %p We use industry standard payment systems like PayPal which ensure your details are safe and secure.
            %li.save
              %h4 Lowest Price
              %p The best way for us to make more money is if you come back! That’s why we guarantee low prices and high security.
    =haml :footer
