Please Login the game and go to
%font{:color=>'red' ,:size=>'4'}=place 
to get your wow gold within 10 minutes. 

If our staff didn't get in touch with you within 10 minutes, please select the 
%a{:href => "http://www.comm100.com/livechat/", :onclick => "comm100_Chat();return false;", :target => "_blank", :title => "Live Chat Live Help Software for Website"} LiveChat
to contact our customer service