Your gold will be delivered 
%font{:color=>'red' ,:size=>'4'}via mail system in WoW. 
If you don’t receive the gold within 60 minutes please select the 
%a{:href => "http://www.comm100.com/livechat/", :onclick => "comm100_Chat();return false;", :target => "_blank", :title => "Live Chat Live Help Software for Website"} LiveChat
to contact our customer service.