%div.chat
  #comm100_LiveChatDiv
  %a.chat{:href => "http://www.comm100.com/livechat/", :onclick => "comm100_Chat();return false;", :target => "_blank", :title => "Live Chat Live Help Software for Website"}
    %img#comm100_ButtonImage{:alt => "", :border => "0px", :src => "http://chatserver.comm100.com/BBS.aspx?siteId=33206&planId=242"}/
  %script{:src => "http://chatserver.comm100.com/js/LiveChat.js?siteId=33206&planId=242", :type => "text/javascript"}
  #comm100_track{:style => "z-index:99;"}
